<template>
  <label v-if="label !== ''" :for="id" class="mb-1 form-label fw-bold text-primary">
    {{ label }}
  </label>
  <textarea
    :id="id"
    :cols="cols"
    :rows="rows"
    :placeholder="placeholder"
    v-model="inputValue"
    :maxlength="maxlength"
    class="form-control rounded-4"
    :style="style"
  />
  <small class="text-muted text-start ms-2"> {{ valueLength }} / {{ maxlength }} </small>
</template>

<script>
export default {
  name: 'AmsomTextarea',
  props: {
    id: {
      type: String,
      default: 'input-textarea'
    },

    cols: {
      type: Number,
      default: 30
    },

    rows: {
      type: Number,
      default: 10
    },

    placeholder: {
      type: String,
      default: 'Entrez votre texte ici...'
    },

    maxlength: {
      type: Number,
      default: 1000
    },

    style: {
      type: String,
      default: ''
    },

    modelValue: {
      type: String,
      default: ''
    },

    label: {
      type: String,
      default: ''
    }
  },

  data() {
    return {
      inputValue: this.modelValue
    }
  },

  emits: ['update:modelValue'],

  computed: {
    valueLength() {
      return this.inputValue?.length
    },
  },

  watch: {
    modelValue(newValue) {
      this.inputValue = newValue
    },

    inputValue(newValue) {
      this.$emit('update:modelValue', newValue)
    }
  }
}
</script>
